1. ubah venv linux ke windows
-----> masuk ke cmd lalu arahkan ke folder projek
-----> rmdir /s venv
-----> python -m venv venv
-----> venv\Scripts\activate
-----> pip install setuptools wheel
-----> pip install pandas numpy Flask scikit-learn matplotlib
-----> python app.py
2. ubah codingan
----->ubah file app.py line 68 classes.encoded.iloc[i]==pred2
