1. ubah venv linux ke windows
-----> masuk ke cmd lalu arahkan ke folder projek
-----> rmdir /s venv
-----> python -m venv venv
-----> venv\Scripts\activate
-----> pip install setuptools wheel
-----> pip install pandas numpy Flask scikit-learn matplotlib
-----> python app.py
2. ubah codingan
----->tambahkan import matplotlib                               di line 5
----->tambahkan matplotlib.use('Agg')                           di line 6
----->ubah file app.py bagian classes.encoded.iloc[i]==pred2    diline 68
